body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e9dbdb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

.navbar {
    background-color: #2e3e4e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.navbar .logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #ff5733;
    transition: color 0.3s;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
}


.content-container {
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}


.content-container h1, .content-container h2 {
    color: #2e3e4e;
    font-family: 'Orbitron', sans-serif;
}


.content-container ol {
    list-style-type: decimal;
    margin-left: 20px;
}

.content-container li {
    font-size: 18px; 
    line-height: 1.6; 
}


.content-container a {
    color: #007BFF; 
    text-decoration: none;
    transition: color 0.3s;
}


.content-container a:hover {
    color: #0056b3; 
}


.content-container pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    line-height: 1.4;
}


.content-container blockquote {
    border-left: 4px solid #2e3e4e; 
    padding: 10px 20px;
    margin: 10px 0;
    font-style: italic;
    background-color: #f7f7f7; 
}
